@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
  background-color: transparent !important;

}

::-webkit-scrollbar-track {
  border-radius: 10px !important;
  background-color: transparent !important;
  margin: 10px ;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background: #888 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
  border-radius: 10px !important;
  cursor: pointer !important;
}
::-webkit-scrollbar-corner {
  display: none;
}