/* Ajuste do contêiner principal do editor */
.cm-editor {
  border-radius: 20px;
  background-color: transparent;
  outline: none !important;
  border: none;
  color:#c3d9ee;
  height: 100%;
}
.cm-theme{
  height:  calc(80vh / 3)!important;
  border-radius: 30px;
}

/* Estiliza o conteúdo do editor (área de texto) */
.cm-content {
  border-radius: 15px !important;
  background-color: transparent !important;

}

.cm-gutters {
  border-radius: 25px !important;
  background-color: transparent !important;
}

.cm-activeLine {
  background-color: #0e476d60 !important;
  border-radius: 5px !important;
  margin-right: 5px !important;
}

.cm-activeLineGutter {
  background-color: transparent !important;
}
.cm-scroller{
  background-color: transparent !important;
  
}